<html>
<head>
  <title>Utilizando el Open Graph.</title>
  <style type="text/css">
  div { padding: 10px; }
  </style>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script type="text/javascript" src="static/js/fb.js"></script>
  <link rel="stylesheet" type="text/css" href="static/css/stylefbytw.css">
  <link rel="stylesheet" type="text/css" href="static/css/buttons.css">
  <meta charset="UTF-8">
</head>
<body onload="load()">
  <div id="wrapper">
    <div id="fb-root"></div>
    <div id="titulos">
      <h1 class='inset'>Facebook</h1>
      <h2 class='inset'>Log-In</h2>
    </div>


    <div id="buttons_log">
      <input id="logout_button" class="uibutton large confirm" type="submit" value="Logout" onclick="logout()">
      <input id="login_button" class="uibutton large confirm" type="submit" value="Login" onclick="login_fb()">
    </div>

    <div>
      <input id="load_friends" class="uibutton large confirm" type="submit" value="My Friends" onclick="load_friends()">
      <input id="load_post" class="uibutton large confirm" type="submit" value="Publicar" onclick="load_post()">
      <div id="result"></div>

      <div id="result_2"></div>

      <div><p id="status"></p></div>

  </div>
</body>
</html>