<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>ATIstagram</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap3.3.7.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  </head>

  <body id="cuerpo">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" id="Menu">
      <div class="container">
        <a class="navbar-brand text-white" href="/" id="ATIstagram">ATIstagram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto" id="Menu_Derecha">
            <li class="nav-item active">
              <select>
                <option>Español</option>
                <option>Ingles</option>
                <option>Frances</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <div class="container">

      <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">
          <h2 class="my-3">Tendencias</h2>
          
          <!-- Publicaciones -->
          {% if data != None %}
            {% for x in data %}
              <div class="card mb-4">
                <img class="card-img-top postImg {{x['filtro']}}" src="{{x['imagen']}}" alt="Card image cap">
                  <div class="card-body">
                    <h2 class="card-title">{{x["userName"]}}</h2>
                    <p class="card-text">Descripcion: {{x["desc"]}}</p>
                  </div>
                <div class="card-footer text-muted">
                  {{x["fecha"].strftime("%X")}} {{ x["fecha"].strftime("%x") }}
                </div>
              </div>
             <div class="col-md-12"><hr></div>
            {% endfor %}
          {% else %}
            <p style="font-size: 16px;text-align: center;">No se obtuvieron resultados!</p>
          {% endif %}  

        </div><!-- Col-md-8 -->

        <!-- Widgets Column -->
        <div class="col-md-4" style="padding-top: 25px">
          <!-- Widget Iniciar Sesion -->
          <div class="card my-4">
            <a class="card-header">Inicia Sesión</a>
            <div class="card-body">
              <form accept-charset="UTF-8" role="form" id="login-form" method="post" action="login">
                <fieldset>
                  <div class="form-group input-group">
                    <span class="input-group-addon">@</span>
                    <input class="form-control" placeholder="Email" id="email" name="email" type="email" required="" autofocus="">
                  </div>
                  <div class="form-group input-group">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                    <input class="form-control" placeholder="Password" id="password" name="password" type="password" value="" required="">
                  </div>
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Entrar</button>
                    {% if error %}
                      <p style="font-size: 16px;color: red;text-align: center;">Email o contraseña invalida</p>
                    {% endif %}
                      <p class="help-block"><a class="pull-right text-muted" href="recuperarContraseña.html"><small>¿Olvidaste tu contraseña?</small></a></p>
                  </div>
                </fieldset>
              </form>
            </div>
          </div>

          <div class="card my-4">
            <div class="card-body">
              <div class="form-group">
                <a href="registrarse"><input class="btn btn-primary btn-block" value="Registro"/></a><br> 
                <a class="btn btn-block btn-social btn-facebook" style="color: white">
                  <i class="fab fa-facebook"></i> Iniciar Sesión con Facebook
                </a>
                <a class="btn btn-block btn-social btn-tw" style="color: white">
                  <i class="fab fa-twitter"></i> Iniciar Sesión con Twitter
                </a>
                
              </div>  
            </div>
          </div>

          <!-- Side Widget -->
          <div class="card my-4">
            <h5 class="card-header">Acerca</h5>
            <div class="card-body">
                Universidad Central de Venezuela<br>
                Facultad de Ciencias<br>
                Escuela de Computación <br>
                ATI 2-2017<br>
                GRUPO 5
            </div>
          </div>
        </div> <!-- Widgets Columns -->
      </div><!-- /.row -->
    </div><!-- /.container -->

    <!-- Footer -->
    <footer class="py-5">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ATIstagram 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  </body>

</html>