<html>
<head>
  <title>Ejemplo API Facebook y Twitter</title>
  <style type="text/css">
  div { padding: 10px; }
  </style>
  <link rel="stylesheet" type="text/css" href="static/css/stylefbytw.css"">
  <link rel="stylesheet" type="text/css" href="static/css/buttons.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Anton|Dancing+Script|Josefin+Sans|Lobster|Revalia|Russo+One|Raleway" rel="stylesheet">
  <meta charset="UTF-8">
</head>
<body>
  <div id="wrapper">
    <div id="titulos">
      <h1 class='inset'>Login</h1>
    </div>
    <div class="iconos">
      <img src="static/img/fb.png">  
      <img src="static/img/tw.png">
    </div>
    <br>
    <div id="frm">
      <form action="facebook" method="POST">
        <input id="login_button" class="uibutton large confirm" type="submit" value="Login with Facebook">
      </form>
      <form action="twitter" method="POST">
        <input id="login_button" class="uibutton large confirm" type="submit" value="Login with Twitter">
      </form>
    </div>

  </div>

</body>
</html>