<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registro - ATIstagram</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/vendor/bootstrap/css/bootstrap3.3.7.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <!-- Custom styles for this template -->
    <link href="../static/css/style.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <style type="text/css">
      #iniciarSesion:hover{
        color: white;
      }
    </style>

  </head>

  <body id="cuerpo">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark  fixed-top"  id="Menu">
      <div class="container">
        <a class="navbar-brand text-white"  href="/" id="ATIstagram">ATIstagram</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto"  id="Menu_Derecha">
            <li class="nav-item active">
              <select>
                <option>Español</option>
                <option>Ingles</option>
                <option>Frances</option>
              </select>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
    <form accept-charset="UTF-8" id="query" role="form" method="post" action="registro" enctype="multipart/form-data">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-12">
          <div class="col-xs-12 col-md-6">
          <H3 style="text-align: center">Fotos de Perfil</H3>
          <hr>
            <div class="col-xs-12">
              <img id="imgF" style="width:100%;max-height:180px;" class="img-fluid" src="../static/imagenes/900x200.png" alt="">
              <br><br>
              <div align="center">
                <input type="file" style="width: 0px;height: 0px;overflow: hidden;" id="imagenfondo" name="imagenF"/>
                <button type="button" class="btn btn-primary btn-lg active" onclick="cargarImgF()">Seleccionar Foto</button>
              </div>
              <br><br>
            </div>
            <div class="col-xs-12">
              <div align="center"><img style="max-width:250px;max-height:250px;" id="imgP" class="img-fluid" src="../static/imagenes/200x200.png" alt=""></div>
              <br>
              <div align="center">
                <input type="file" style="width: 0px;height: 0px;overflow: hidden;" id="imagenperfil" name="imagenP"/>
                <button type="button" class="btn btn-primary btn-lg active" onclick="cargarImgP()">Seleccionar Foto</button>
              </div>
              <br>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <header class="card-header">
                <a  class="float-right btn btn-outline-primary mt-1" id="iniciarSesion" href="iniciar-sesion">Iniciar Sesión</a>
                <h4 class="card-title mt-2">Registro</h4>
              </header>
              <article class="card-body">
                  <div class="form-row">
                    <div class="col form-group">
                      <label>Nombre</label>   
                      <input type="text" class="form-control" name="nombre" placeholder="" required="">
                    </div> <!-- form-group end.// -->
                    <div class="col form-group">
                      <label>Apellido</label>
                      <input type="text" class="form-control" name="apellido" placeholder="" required="">
                    </div> <!-- form-group end.// -->
                  </div> <!-- form-row end.// -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Nombre de Usuario</label>
                      <input type="text" class="form-control" name="userName" placeholder="" required="">
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                      <label for="seguridad">Seguridad</label>
                      <select class="form-control" name="seguridad" style="padding-bottom: unset;height:34px;" required="">
                        <option>Publico</option>
                        <option>Privado</option>
                      </select>
                    </div> <!-- form-group end.// -->
                  </div>

                  <div class="form-group">
                    <label>Correo</label>
                    <input type="email" class="form-control" name="email" placeholder="" required="">
                  </div> <!-- form-group end.// -->
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Telefono</label>
                      <input type="text" class="form-control" name="tlf" required="">
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                      <label>Sexo</label>
                      <select class="form-control" name="sexo" style="padding-bottom: unset;height:34px;" required="">
                        <option>Femenino</option>
                        <option>Masculino</option>
                      </select>
                    </div> <!-- form-group end.// -->
                  </div>
                  <div class="form-row">
                    <div class="form-group col-md-6">
                      <label>Ciudad</label>
                      <input type="text" class="form-control" name="ciudad">
                    </div> <!-- form-group end.// -->
                    <div class="form-group col-md-6">
                      <label>Pais</label>
                      <select id="inputState" class="form-control" name="pais" style="padding-bottom: unset;height:34px;">
                        <option>Argentina</option>
                        <option>Estados Unidos</option>
                        <option>España</option>
                        <option>Venezuela</option>
                        <option>Vietnam</option>
                      </select>
                    </div> <!-- form-group end.// -->
                  </div> <!-- form-row.// -->
                  <div class="form-group">
                    <label>Fecha de Nacimiento:</label>
                    <input type="date" name="nacimiento" step="1" min="1930-01-01" max="2018-05-31" required="">
                  </div>
                  <div class="form-group">
                    <label>Contraseña</label>
                    <input class="form-control" name="pwd" type="password" value="" required="">
                    <label>Repetir Contraseña</label>
                    <input class="form-control" name="pwd2" type="password" value="" required="">
                  </div>  
                  <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Registrar</button>
                    {% if exito %}
                      <p style="font-size: 16px;color: green;text-align: center;">Usuario creado!</p>
                    {% elif error==1 %}
                      <p style="font-size: 16px;color: red;text-align: center;">El nombre de usuario y email ya existen!</p>
                    {% elif error==2 %}
                      <p style="font-size: 16px;color: red;text-align: center;">El email ya fue utilizado!</p>
                    {% elif error==3 %}
                      <p style="font-size: 16px;color: red;text-align: center;">El nombre de usuario ya existe!</p>
                    {% elif error==4 %}
                      <p style="font-size: 16px;color: red;text-align: center;">Las contraseñas no coinciden!</p>
                    {% endif %}
                  </div> <!-- form-group// --> 
                  <div class="border-top card-body text-center">     
                    <small class="text-muted">Al registrarte estas aceptando los Terminos y Condiciones de Uso <br> Gracias por Preferirnos</small> 
                  </div>   
              </article> <!-- card-body end .// -->
            </div> <!-- card.// -->
          </div>

        </div><!-- col.1.2//-->


      </div> <!-- col.//-->
    </div> <!-- row.//-->
  </div> 
  <!-- /.container -->
  </form>
  <br>

    <!-- Footer -->
    <footer class="py-5">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; ATIstagram 2018</p>
      </div>
      <!-- /.container -->
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript">
      //Activamos el input file
      function cargarImgF(){
        $('#imagenfondo').trigger('click');
      }
      function cargarImgP(){
        $('#imagenperfil').trigger('click');
      }
      
      //Obtenemos la imagen y la mostramos
      $('#imagenfondo').change(function(e) {
        var TmpPath = URL.createObjectURL(e.target.files[0]);
        //alert(TmpPath);
        $('#imgF').attr('src', TmpPath);
      });
      //Obtenemos la imagen y la mostramos
      $('#imagenperfil').change(function(e) {
        var TmpPath = URL.createObjectURL(e.target.files[0]);
        //alert(TmpPath);
        $('#imgP').attr('src', TmpPath);
      });

      //Validamos el submit
      $("#query").submit(function(event){
        if ((!$('#imagenperfil').val())||(!$('#imagenfondo').val())){
          event.preventDefault();
          alert("Error: debe escoger una foto de perfil y de fondo");
        }
      });
    </script>
  </body>

</html>